<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="landscape">
            <h2><span>Landscape</span> {{landscape.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Width</span></dt>
                <dd>
                    <span>{{landscape.width}}</span>
                </dd>
                <dt><span>Height</span></dt>
                <dd>
                    <span>{{landscape.height}}</span>
                </dd>
                <dt><span>Cells</span></dt>
                <dd>
                    <span>{{landscape.cells}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/landscape', landscape.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
